#game{
    border: solid blue;
    width: 1080px;
    height: 780px;
    margin-left: 350px;
    position: fixed;
}


.box-left {
	float: left;
    width: 350px;
    background: yellow;

    position: static;
    z-index: 0;
}

.header-right {
	float: right;
    width: 288px;
    background: cyan;
    position: static;
    z-index: 0;
    left: 0;
	right: 0;
}